extends layout_panel
	
block content
	body
		.container-fluid
			.row
				div(id="container-for-content")
		script(src="/js/manage/lib/system.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js")
		script(src="/js/manage/js/manage_controller.min.js")
	