header(class="header-to-all-page")
	a(href="/") 
		img(src="/images/logo-black.jpg", alt="")
	div(class="outers-to-block")
		a(href="#" class="menu-to-site -colors")
			span(class="first-line")
			span(class="two-line")
			span(class="third-line")
		a(href="#" class="brif-for-site colors-blue")= texts.BRIF