div(class="container-fluid -light-blue -side-for-logo")
	.row
		.container
			.row
				div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
					.container-for-subscribe
						h2 Подписаться на обновления
						form(action="" class="form-to-control")
							input(type="text" class="form-input col-xs-12 col-sm-7 col-md-8 col-lg-8" placeholder="Email адрес")
							button(class="button col-xs-12 col-sm-5 col-md-4 col-lg-4") Подписаться
						p(class="text-for-subscribe") Будет использоваться в соответствии с нашей политикой конфиденциальности
div(class="container-fluid -dark-grey")
	.row
		div(class="footer-container")
			div(class="col-xs-12 col-sm-5 col-md-4 col-lg-4")
				p Телефон: +38 (063) 441 83 82
				p Адрес: Украина, Киев, ул. Архитектора Городецкого, 10/1
				p E-mail: support@4side.in.ua
			div(class="col-xs-12 col-sm-2 col-md-4 col-lg-4 -center-align")
				span(class="mini-logo")
			div(class="col-xs-12 col-sm-5 col-md-4 col-lg-4 -rigth-align")
				p © 2016 4Side Web Agency All rights reserved
				.social-share-button
					a(href="https://vk.com/club117822711" target="_blank" class="vk social-link")
					a(href="https://www.facebook.com/profile.php?id=100010120746678" target="_blank" class="fb social-link")
					a(href="" class="twitter social-link")