<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Manage
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/Manage/build/manage.min.css")
		link(rel="stylesheet", href="/css/Manage/build/font-awesome.min.css")
	block content