.container-fixed-menu
	ul(class="list-menu")
		li
			a(href="/") Главная
		li 
			a(href="/about") О Компании
		li 
			a(href="/portfolio") Портфолио
		li 
			a(href="/team") Команда
		li 
			a(href="/contact") Контакты