extends layout

block content
	body
		include menu.jade
		div(class="container-all-outer grey-color")
			include allHeader.jade
			.container
				.row
					div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-outer-team")
						nav(class="outer-of-breadcrumps")
							ul(class="list-of-breadcrumps")
								each val in breadcrumps
									if(val.link)
										li 
											a(href=val.link)= val.inRus
									else
										li= val.inRus
						h1(class="title-of-h1") Команда
						p(class="mini-description") Значимость этих проблем настолько очевидна, что консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития
						.outer-of-team
							.item-team
								img(src="/images/user.png")
								h3 Тищенко Владимир
								h4 CEO & front-end developer
								p Специалист, которые хорошо знают web программирование клиентской части веб-сайта. Можно сказать, что их задачей является создание привлекательного и удобного веб-дизайна и интерфейса, которые в свою очередь являются показателями качественного программного обеспечения
							.item-team
								img(src="/images/user2.png")
								h3 Великолепная Леди
								h4 web & graphic designer
								p Специалист, которые хорошо знают web программирование клиентской части веб-сайта. Можно сказать, что их задачей является создание привлекательного и удобного веб-дизайна и интерфейса, которые в свою очередь являются показателями качественного программного обеспечения
							.item-team
								img(src="/images/user1.png")
								h3 Гринченко Киррил
								h4 CEO & project manager
								p Специалист, которые хорошо знают web программирование клиентской части веб-сайта. Можно сказать, что их задачей является создание привлекательного и удобного веб-дизайна и интерфейса, которые в свою очередь являются показателями качественного программного обеспечения
							.item-team
								img(src="/images/user3.png")
								h3 Галайко Александр
								h4 Back-end developer
								p Специалист, которые хорошо знают web программирование клиентской части веб-сайта. Можно сказать, что их задачей является создание привлекательного и удобного веб-дизайна и интерфейса, которые в свою очередь являются показателями качественного программного обеспечения
			include footer.jade
		script(src="/build/controller.js")