@import url("https://fonts.googleapis.com/css?family=Playfair+Display&subset=cyrillic,latin");
@font-face {
    font-family: SFSemibold;
    src: url("../../../../font/SFUIDisplay-Semibold.otf");
}

html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    min-height: 500px;
}

a {
    color: #d9edf7;
}

a:hover {
    text-decoration: none;
}

.outer-all-container,
.container-fluid,
#container-for-content,
.general-block {
    position: relative;
    height: 100%;
    display: table;
    width: 100%;
}

.row {
    position: relative;
    height: 100%;
}

.side-bar {
    width: 20%;
    height: 100%;
    background: #f8f8fa;
    border-right: 1px solid #dedede;
    position: fixed;
}

.side-bar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.side-bar ul li {
    padding: 23px 0;
    text-align: center;
}

.side-bar ul li a,
.side-bar ul li span {
    font-size: 15px;
    padding: 2px 0;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: #393939;
}

.side-bar ul li a:hover {
    border-bottom: 1px solid rgba(48, 121, 193, .38);
    color: #3079c1;
}

.active-list span {
    border-bottom: 1px solid rgba(48, 121, 193, .38) !important;
    color: #3079c1 !important;
}

.image-of-logo {
    width: 90%;
    max-width: 180px;
    display: table;
    margin: 20px auto;
}

.outer-main-block {
    width: 80%;
    left: 20%;
    position: relative;
    height: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, .3);
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafb), to(#fff));
    background: -webkit-linear-gradient(top, #fafafb 0, #fff 100%);
    background: -o-linear-gradient(top, #fafafb 0, #fff 100%);
    background: linear-gradient(to bottom, #fafafb 0, #fff 100%);
}


}
.preload-for-main-block {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.height-full {
    height: 100%;
    width: 100%;
    padding: 20px;
}
.title-for-block {
    font-family: 'Playfair Display';
    font-size: 87px;
    color: #fff;
    margin-bottom: 34px;
    color: #333;
    margin: 0;
    line-height: 70px;
    text-align: center;
}
.table-for-portfolio {
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 40px;
}
.block-for-slides-campany {
    display: table;
    width: 100%;
    position: relative;
}
.area-for-content {
    display: table-cell;
    background-color: #fff;
    width: 45%;
    vertical-align: middle;
    text-align: center;
    margin: 1%;
    position: relative;
}
.area-for-content img {
    width: 100%;
}
.padding-text,
.padding-area {
    padding: 50px;
}
.area-for-content textarea {
    width: 100%;
    height: 175px;
}
.outer-all-about-block {
    margin: 40px 0;
}
.area-for-content .btn {
    display: block;
    margin: 20px auto;
    max-width: 200px;
    min-width: 200px;
}
.edit-about-block {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 20px !important;
    cursor: pointer;
}

.edit-about-block-right{
    right: 10px;
    position: absolute;
    top: 10px;
    font-size: 20px !important;
    cursor: pointer;
}

.padding-area p,
.to-text-form p {
    font-family: 'Playfair Display';
}
.to-text-form {
    padding: 20px;
}
.outer-members {
    margin: 40px auto;
    max-width: 1100px;
    display: table;
    width: 100%;
}
.outer-of-team {
    width: 47%;
    margin: 0 1% 0 2%;
    padding: 20px;
    background: #fff;
    position: relative;
    float: left;
}
.for-for-team-edit-or-add {
    text-align: center;
}
.for-for-team-edit-or-add > input,
.for-for-team-edit-or-add > input:focus,
.for-for-team-edit-or-add > input:active,
.right-to-desctiption input,
.right-to-desctiption input:focus,
.right-to-desctiption input:active {
    width: 80%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    box-shadow: none;
    margin: 20px 0;
}
.for-for-team-edit-or-add > button {
    width: 30px;
    height: 30px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 20px auto;
}
.members-item {
    text-align: center;
    height: 520px;
}
.members-item h3 {
    font-family: 'Playfair Display';
    font-size: 33px;
    color: #393939;
    margin: 50px 0 25px;
}
.members-item h4 {
    font-family: SFSemibold;
    font-size: 17px;
    margin: 0 0 35px;
    color: #393939;
    text-transform: uppercase;
}
.members-item p {
    font-size: 14px;
    color: #787878;
    line-height: 25px;
}
.for-for-team-edit-or-add img,
.members-item img {
    width: 200px;
    border-radius: 50%;
}
.peloader-to-add {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    left: 0;
    top: 0;
}
.peloader-to-add img {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
#hidden_file {
    opacity: 0;
    position: absolute;
}
.add-portfolio {
    display: block;
    float: right;
    margin: 30px 0;
}
.outer-to-add {
    margin: 40px 0;
    display: table;
    width: 100%;
}
.left-to-gen-image {
    float: left;
    width: 30%;
}
.right-to-desctiption {
    float: right;
    width: 70%;
}

.add-gen-photo{
    width: 70%;
    margin: 0 auto;

}

.outer-all-photos {
    display: table;
    float: left;
    margin: 40px 0 0;
    width: 100%;
}

.outer-all-photos h4{
    font-family: 'Playfair Display';
}

.add-many-images{
    width: 100%;
    min-height: 200px;
    border: 1px solid #ddd;
    margin: 10px 0;
}

.area-of-drop{
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 40px 0;
}

.area-of-drop h2{
    color: #999;
    font-family: SFSemibold;
    margin: 0;
}

.area-of-drop p{
    font-family: 'Playfair Display';
    margin: 20px 0
}

.area-of-drop input{
    display: inline-block;
}

.area-of-many-images{
    display: table;
    width: 100%;
}

.area-of-many-images span{
    width: 100px;
    float: left;
    display: table;
    margin: 5px;
    position: relative;
}

.area-of-many-images i{
    position: absolute;
    top: -7px;
    right: -7px;
    background: #000;
    padding: 2px 5px;
    font-size: 10px;
    cursor: pointer;
}

.area-of-many-images i:before{
    color: #fff;
    content: "X";
}

.area-of-many-images img{
    width: 100%;
}

.outer-levels-step{
    display: table;
}

.-drag-start{
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0, .1); 
}

.table-for-portfolio i{
    padding: 0 10px;
    cursor: pointer;
}

.table-for-portfolio tr td{
    vertical-align: middle !important;
}


.table-for-portfolio tr td img{
    width: 50px;
}

.outrer-for-logo-table{
    display: table;
    height: 100%;
    width: 100%;
}

.outer-for-logo-cell{
    display: table-cell;
    vertical-align: middle;
}

.outer-center-block{
    margin: 0 auto;
    display: table;
    padding: 20px;
    text-align: center;
}

.outer-center-block p {
    margin: 0;
}

.outer-center-block input{
    margin: 5px 0 10px;
    text-align: center;
}

.outer-center-block img{
    width: 160px;
    padding: 0px 0 20px
}

.outer-center-block button{
    margin-top: 20px;
}

.button {
    background: #508dcb;
    border-radius: 30px;
    border: none;
    padding: 16px;
    width: 247px;
    font-size: 18px;
    display: inline-block;
    color: #fff;
}

.form-input {
    border: 3px solid #edeced;
    border-radius: 3px;
    background: 0 0;
    height: 57px;
    margin-right: 20px;
    padding: 0 20px;
    display: table;
    width: 100%;
}

@media screen and (max-width: 980px) {
    .outer-of-team {
        width: 100%;
        margin: 1% 0;
    }
}
