@import '001func.styl'

.slider-side
	width 100%
	height 790px
	overflow hidden
	position relative

.slider-list
	padding 0
	margin 0
	list-style none
	display table
	transform translateX(0px)

.slider-list-item
	text-align center
	padding-bottom 103px
	float left

.container-item-serv
	margin-bottom 60px

.slider-title
	font-family 'Playfair Display'
	font-size 87px
	color #fff
	margin-bottom 34px

.slider-author
	color: #fff
	opacity .5
	font-size 17px
	text-transform uppercase
	font-family SFSemibold
	letter-spacing 2px

.slider-description
	margin-top -108px

.button 
	background blueDark
	border-radius 30px
	border none
	padding 16px
	color #fff
	text-transform uppercase
	width 247px
	font-size 18px
	display inline-block
	font-family SFSemibold
	letter-spacing 2px
	&:hover
		color #fff
		text-decoration none
		background #3079c1

.-light-green-button-slider
	background-color rgb(92, 196, 146)
	box-shadow 0px 9px 18.9px 2.1px rgba(61, 163, 114, 0.68), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.21)
	&:hover
		background transparent

.-light-rose-button-slider
	background-color rgb(236, 93, 115)
	box-shadow: 0px 9px 18.9px 2.1px rgba(202, 64, 86, 0.68), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.21)
	&:hover
		background transparent

.-light-blue-button-slider
	background-color rgb(80, 141, 203)
	box-shadow 0px 9px 18.9px 2.1px rgba(33, 102, 172, 0.68), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.21)
	&:hover
		background transparent

.-light-violet-button-slider
	background-color rgb(159, 111, 197)
	box-shadow 0px 9px 18.9px 2.1px rgba(125, 75, 164, 0.68), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.21)
	&:hover
		background transparent
		
.-blue
	background blues

.-ros
	background ros

.-greens
	background greens

.-violets
	background violets

.controls-slider
	width 100%
	position absolute
	bottom 20px
	height 20px
	text-align center

.controls-slider span
	cursor pointer
	display inline-block
	width 8px
	height 8px
	border-radius 50%
	background-color #fff
	border 1px solid transparent
	margin 0 10px

.controls-slider .-active-slide
	background-color transparent
	border 1px solid #fff

.-absolute-preloader
	position absolute
	width 100%
	height 100%
	background lightgray
	z-index 9
	transition 1s
	opacity 1

.-absolute-preloader img
	position absolute
	top 0
	left 0
	bottom 0
	right 0
	margin auto
	width 220px
	height 20px

.hiddens-preloader
	animation hidden 1s ease-in
	animation-fill-mode forwards
	animation-delay 2s

@keyframes hidden
	{0%}
		opacity 1
		transform translate(0px, 0px)
	{50%}
		opacity 0
		transform translate(0px, 0px)
	{100%}
		opacity 0
		transform translate(-9999px, -9999px)
		

@media screen and (max-width: 1280px)
	.slider-list-item img
		width 50%

	.slider-side
		height initial

	.slider-title
		font-size 57px

	.slider-description
		margin-top -65px
		

@media screen and (max-width: 980px)
	.slider-title
		font-size 300%
		
	.slider-list-item img
		width 70%
		
	.button 
		padding 16px 30px
		width initial
		font-size 16px
	
	.menu-to-site
		width 27px i

@media screen and (max-width: 600px)
	.slider-list-item img
		width 80%
		
	.slider-title
		font-size 200%
	
	.slider-list-item
		padding-bottom 65px
		
	.slider-author
		font-size 14px
	
	.slider-description
		margin-top -35px
		
@media screen and (max-width: 400px)
	.slider-title
		padding 0 20%
		
	.slider-description .button
		font-size 11px
		padding 10px