@import '001func.styl'

.header-to-site
	position absolute
	width 100%
	display table
	top 60px
	padding 0 70px
	z-index 99

.logo-for-site
	float left
	margin-top -20px

.brif-for-site
	float right
	color #fff
	font-size 15px
	opacity .8
	border-bottom 1px solid rgba(255,255,255, .5)
	padding 2px 0
	&:hover
		color #fff
		padding 2px 0
		border-bottom 1px solid transparent
		text-decoration none
	&:active
		color #fff
	&:focus
		color #fff

.brif-for-site.colors-blue
	color #508dcb
	border-bottom 1px solid rgba(80,141,203, .5)
	&:hover 
		border-bottom 1px solid transparent
	&:active
		color #508dcb

.menu-to-site
	float right
	width 43px
	height 26px
	position relative
	margin 1px 0 0 30px

.menu-to-site span
	position absolute
	height 2px 
	width 100%
	background #fff
	margin auto

.side-lang-wrapper a 
	font-size 11px
	display inline-block
	margin-left 7px
	border-bottom 1px solid rgba(80,141,203,.5)
	text-decoration none
	&:hover
		border-bottom: 1px solid transparent

.side-lang-wrapper span
	font-size 11px
	display inline-block
	margin-left 7px
	color weryLightGrey
	
.outers-to-block
	padding 25px 0
	float right

.menu-to-site.-colors span
	background #393939

.first-line
	top 0
	
.two-line
	top 0
	bottom 0

.third-line
	bottom 0	

.-logo-mobile
	display none

.header-to-all-page
	width 100%
	padding 30px 70px
	background #fff

@media screen and (max-width: 980px)

	.-logo-mobile
		display block 
		width 60px
		
	.logo-for-site
		padding 15px 0 0 40px
		
	.-logo-web
		display none
		
	.brif-for-site
		display none
	
	.header-to-site
		top 15px
		right 25px
		padding 0
		
@media screen and (max-width: 500px)	
	.-logo-mobile
		width 40px
	
	.header-to-all-page
		padding 30px 10px
	