@import '001func.styl'

.block-for-slides-campany
	display table

.-for-text, .-for-photo
	display table-cell
	background-color #fff
	width 50%
	vertical-align middle
	text-align center
	
.-for-photo img 
	width 100%
	
.-for-text p
	padding 0 65px
	
@media screen and (max-width: 670px)
	.-for-text, .-for-photo
		display table
		width 100%
		
	.-for-text
		padding 15%
	
	.-for-text p
		padding 0
		font-size 150%
	
	.reverse
		display flex
		flex-direction column-reverse

@media screen and (max-width: 500px)
	.-for-text
		padding 15% 10%
	
	.-for-text p
		padding 0
		font-size 120%