@import '001func.styl'

.block-for-slides-campany
	display table

.-for-text, .-for-photo
	display table-cell
	background-color #fff
	width 50%
	vertical-align middle
	text-align center
	
.-for-photo img 
	width 100%
	
.-for-text p
	padding 0 65px
	