@import '001func.styl'

.-side-phone
	font-size 17px
	letter-spacing 1px
	color greyText
	font-family SFSemibold

.-side-adress
	margin 30px 0 0
	color weryLightGrey
	font-size 15px

.-side-mail
	margin 0
	color weryLightGrey
	font-size 15px